body {
    font-family: 'Nunito Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    max-width: 1279px;
    margin: 0 auto;
}

#last-blog {
    margin: 0;
}

.main {
    display: flex;
}

.btn {
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
    padding: 18px 52px 18px 52px;
    text-decoration: none;
    background: #2559BC;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
    color: #fff;
}

.btn:hover {
    background-color: #fff;
    color: #2559BC;
}

.user__main {
    display: flex;
}

.user__image {
    width: 53px;
    height: 53px;
    border-radius: 50%;
}

.user__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 0 19px;
    color: #fff;
}

.hamburger-menu {
    z-index: 10;
}

#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 53px;
    right: 31px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .5s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: 1s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 1s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  @media only screen and (max-width: 575.98px) {
    .container {
        max-width: 350px;
        margin: 0 auto;
    }
  }